AUTH_REQUIRED=false
QUOTA_ENABLED=false
FIREBASE_PROJECT_ID=project-62238635-aae4-41f4-880
FIREBASE_WEB_CONFIG={}
UPLOAD_BUCKET=
IP_HASH_SECRET=
ADMIN_EMAILS=
QUOTA_TIMEZONE=UTC
QUOTA_RESERVATION_MINUTES=20
MAX_UPLOAD_BYTES=104857600
MAX_ANALYSIS_SECONDS=360
MAX_SAMPLE_RATE=192000
MAX_AUDIO_CHANNELS=8
ANALYSIS_WORKERS=1
